*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    }

    header{
        background-color: blue;
        
    }

    nav ul, li a{
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
        font-size: 15px;
        margin: 15px;      
    }

    nav ul, li a:hover{
        color: rgb(46, 46, 179)  
    }

    .header_logo {
        margin-top: -5rem;
        margin-left: 55px; 
    }

    .jumbotron h1 {
        font-size: 5em;
        color: rgba(214, 19, 19, 0.658);
        margin-left: 150px;
        font-size: 6em;
    }
    
 
    .jumbotron .h2_p1{
        color:#2e266f;
        margin-left: 225px;
        margin-top: 0px;
        font-size: 3em;
     }

    .jumbotron .h2_p2{
        color:#2e266f;
        margin-left: 150px;
        margin-top: 0px;
        font-size: 3em;
     }

    .jumbotron .headphone_jumbo{
        position: absolute;
        width: 500px;
        margin: -250px 500px;
        right:-20rem ;
    }

       
    .jumbotron .button_jumbo{
        background-color: #5e3c94;
        border: 1px solid #5e3c94;
        border-radius: 4px;
        padding: 14px 40px;
        margin: 20px 200px;
               color: #fff5ec;
    }
    .jumbotron .button_jumbo:hover{
        background-color: #8344e9;
        cursor: pointer;
    }


    .opciones_equipos{
        background-color:#ecf6ffea;
    }
    
     h3{
       text-align: center;
       background-size: cover;
       background-attachment: fixed;
       padding-top: 125px;
        font-size: 2em;
        
        color: #2e266f;
    
    }



    .equipos_boton {
        background-color: #5f51b1;
        border: 1px solid #0ed884;
        color: #fff5ec;
        height: 25px;
        width: 150px;
        margin-left: 125px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px; 
    }

    .equipos_boton:hover{
        background-color: #8344e9;
        cursor: pointer;
    }
    
     
    
    .equipos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        margin-bottom:  50px;
    
    }
    
    .equipos_lista{
        display: flex;
        padding: 15px;
        margin-bottom: 30px;
    }
    
    .equipo_muestra{
        background-color:#a02890 ;
        border-radius: 75px;
        box-shadow: 10px 5px 5px rgb(23, 36, 160);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
    }
    
   
    
    .equios_imagen{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
           
        }
    
        .equipos_imagen--crusher{
            object-fit: cover;
            height: 500px;
            width: 100%;
            background-image: url(./Images/crusher.jpg);
        }
    
        .equipos_imagen--zsn{
            object-fit: cover;
            height: 500px;
            width: 100%;
            background-image: url(./Images/zsn.jpg);
        }
    
        .equipos_imagen--true{
            object-fit: cover;
            height: 500px;
            width: 100%;
            background-image: url(./Images/TRUE.jpg);
        }
    
        .equipos_titulo1{
            
            color: #2e266f;
            font-size: 1.25rem;
            font-weight: 300;
            letter-spacing: 2px;
            padding-left: 130px;

    
        }

        .equipos_titulo2{
            
            color: #2e266f;
            font-size: 1.25rem;
            font-weight: 30;
            letter-spacing: 2px;
            padding-left: 145px;

    
        }

        .equipos_titulo3{
            
            color: #2e266f;
            font-size: 1.25rem;
            font-weight: 300;
            letter-spacing: 2px;
            padding-left: 100px;

    
        }
    
        .equipos_descripcion{
            flex: 1 1 auto;
            font-size: 15px;
            line-height: 1.5;
        }
    
